---
--- // No script needed here

<html>
  <head>
    <title>Micro Frontend with Astro and Angular</title>
  </head>
  <body>
    <h1>Welcome to the Micro Frontend Example</h1>
    <nav>
      <ul>
        <li><a href="/angular-app-1/index.html">Go to Angular App 1</a></li>
        <li><a href="/angular-app-2/index.html">Go to Angular App 2</a></li>
      </ul>
    </nav>
  </body>
</html>
